<div class='each-user-list'>
  <%= image_tag user_avatar_or_default(learning.user), class: "user-list-avatar" %>
  <%= link_to learning.title, learning, class: 'user-list-name' %>
  <div class='user-list-like-container mla'>
    <%= fa_icon 'thumbs-up', class: 'user-list-like-icon' %>
    <span><%= learning.likes_count || 0 %></span>
    <%#= render 'learnings/like', learning: learning %>
  </div>
</div>
