<h1>ユーザー認証</h1>

<p>こんにちは<%= @user.name %>さん</p>


<p>新規登録をしていただき、ありがとうございます。</p>

<p>ユーザー登録はまだ完了していません。</p>
<p>以下のURL（アドレス）にアクセスしてユーザー登録を完了させてください。</p>

<p>※このメールに心当たりがない場合はメールを破棄してください。</p>

<p>■ユーザー認証アドレス</p>

<p><%= edit_account_activation_url(@user.id, email: @user.email) %></p>

<p>このアドレスはお申し込みから1時間有効です。</p>
<p>期限を過ぎた場合は、会員登録をやり直してください。</p>

