<p style="font-size: 19px;margin: 5px 0 0;font-weight: normal;"><%= @user.name %> さんこんにちは、RootedLearningへようこそ。</p>
<p style="font-size: 15px;">登録していただき、ありがとうございます。</p>
<p style="font-size: 15px;"><%= link_to "ユーザー認証リンク", edit_account_activation_url(@user.activation_token, email: @user.email), style: "text-decoration: none;color: blue;" %> をクリックして、認証を完了させてください。
</p>
