<div style="color: #111;width: 680px;">
  <h1>パスワードのリセット</h1>
  <p>こんにちは<%= @user.name %>さん。</p>
  <p>パスワードをリセットするには下のリンクをクリックして新しいパスワードを設定してください。</p>
  <p><%= link_to "パスワードリセット画面", edit_password_reset_url(@user.reset_token, email: @user.email), style: "text-decoration: none;color: blue;" %></p>
  <p>このリンクの有効期限は2時間です。</p>
  <p>もしこのメールに覚えがない場合はメールは無視してください。</p>
  <p><%= link_to "RootedLearning", root_url, style: "text-decoration: none;color: blue;padding: 0 0 20px;margin-bottom: 20px;" %></p>
</div>
