<% provide(:title, "プロフィール更新") %>
<% provide(:btn_text, '更新する') %>
<div class="link-to-root">
  <%= link_to root_path do %>
    <%= image_tag "logo-black.png" %>
  <% end %>
</div>
<div class="signup-box">
  <h2>プロフィール編集</h2>
  <%= render 'form' %>
</div>
