<div id="page-top">
  <div id="wrapper" class='wrapper'>
      <nav id="sidebar" class='sidebar'>
          <ul class="list-unstyled components">
              <li class='sidebar-list'><a href="#">
                <%= fa_icon 'folder', class: 'white' %>
                <span class='thin-white'>Home</span></a></li>
              <li class='sidebar-list'><a href="#">
                <%= fa_icon 'folder', class: 'white' %>
                <span class='thin-white'>About</span></a></li>
              <li class='sidebar-list'><a href="#">
                <%= fa_icon 'folder', class: 'white' %>
                <span class='thin-white'>About</span></a></li>
          </ul>
      </nav>

      <div id="content" class='p10 w100'>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Charts</li>
        </ol>
        <%= high_chart("sample", @graph) %>
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>
      </div>
  </div>
</div>
