<% if @user.errors.any? %>
  <div id="error-explanation">
    <div class="alert alert-danger">
      <%= @user.errors.count %>つのエラーがあります。
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
