* {
	box-sizing: border-box;
}

.inline-block {
	display: inline-block;
}

.m0 {
	margin: 0;
}

.mt0 {
	margin-top: 0;
}

.ml0 {
	margin-left: 0;
}

.mr0 {
	margin-right: 0;
}

.mb0 {
	margin-bottom: 0;
}

.p0 {
	padding: 0;
}

.pt0 {
	padding-top: 0;
}

.pl0 {
	padding-left: 0;
}

.pr0 {
	padding-right: 0;
}

.pb0 {
	padding-bottom: 0;
}

.p10 {
	padding: 10px;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.height20 {
	height: 20px;
}

.white {
	color: #ffffff;
}

.thin-white {
	color: rgba(255, 255, 255, 0.5);
}

.nav-item {
	height: 30px;
	padding: 16px;
	font-size: 16px;
	height: 49px;
}

.sidebar {
    width: 225px !important;
    background-color: #212529;
    min-height: calc(100vh - 50px);
    padding-top: 10px;
}

.main-content {
	min-width: calc(100vw - 250px);
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.sidebar-list {
	padding: 18px;
}