* {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.m0 {
  margin: 0;
}

.m0a {
  margin: 0 auto;
}

.mt0 {
  margin-top: 0;
}

.mt10 {
  margin-top: 10px;
}

.mr0 {
  margin-right: 0;
}

.mr10 {
  margin-right: 10px;
}

.mb0 {
  margin-bottom: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.ml0 {
  margin-left: 0;
}

.p0 {
  padding: 0;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.height20 {
  height: 20px;
}

.blue-black {
  color: #2f3a40!important;
}

.white {
  color: #ffffff;
}

.light-blue {
  color: #169ae2!important;
}

.nav-item {
  height: 30px;
  padding: 16px;
  font-size: 16px;
  height: 49px;
}

.sidebar {
    width: 225px !important;
    background-color: #f5f5f5;
    min-height: calc(100vh - 50px);
    padding-top: 10px;
}

// .main-content {
//  min-width: calc(100vw - 250px);
// }

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.sidebar-list {
  padding: 18px;
}

.item-wrapper {
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10px;
}

.item-header {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.left-item {
  display: inline-block;
  margin-right: 0.9%;
  width: 49.3%;
}

.right-item {
  display: inline-block;
  width: 49.3%;
}

.sticky-footer {
  background: #e9ecef;
  font-size: 12px;
}

.main {
  min-width: calc(100vw - 250px);
}

.container {
  margin: 0;
  padding: 0;
}

.alert {
  border-radius: 0px;
  margin: 0;
}