.header-nav {
  background-color: #169ae2;
  border: 0;
  border-radius: 0;

  .mdl-menu__item a {
    color:black;
    background-color: white;
  }

  .mdl-menu__item a:hover {
    color:black;
    background-color: #f5f5f5;
    text-decoration: none;
  }
}

.header-inner-box {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.header-link-new-user {
  margin-right: 20px;
  padding: 8px;
  margin-top: -10px;
  border: solid 1.5px white;
  border-radius: 4px;
}

.header-logo {
  height: 28px;
  margin-top: 12px;
  margin-left: 12px;
}

.navbar-default .navbar-nav > .open > a {
  background-color: #6dbde4;
}

.navbar-default .navbar-nav .open a:focus {
  background-color: #6dbde4;
}

.avatar-img {
  height: 39px;
  border-radius: 4px;
}

.avatar-dropdown {
  color:white;
  height: 42px;
  margin-top: 6px;
  margin-right: 10px;
}

.header-link-list {
  margin-top: 17px;
  margin-right: 5px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.mdl-js-ripple-effect {
  a:hover {
    text-decoration: none;
  }
}

.img-hover-gray {
  margin-bottom: 28px;

  &:hover {
    color: #ddd;
  }
}
