.header-nav {
  background-color: #169ae2;
  border: 0;
  border-radius: 0;

  img {
    height: 28px;
  }
}

.header-logo {
    margin-top: 12px;
    margin-left: 12px;
}

.navbar-default .navbar-nav .open a:focus {
  background-color: #21ab18;
}