.header-nav {
  background-color: #169ae2;
  border: 0;
  border-radius: 0;

  .mdl-menu__item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }

  .header-left-menu-list {
    &:hover {
      a {
        background-color: #ecececd4;
      }
    }
    a:hover {
      background-color: #ecececd4;
    }
  }

  .header-left-menu-list-bell {
    padding-left: 14px;
  }

  .mdl-menu__item a {
    color:black;
    background-color: white;
  }

  .mdl-menu__item a:hover {
    color:black;
    background-color: #f5f5f5;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0;
}

.root-header-nav {
  background-repeat: repeat,no-repeat;
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/quantity-teaches-quality/uploads/default/root-header.png),linear-gradient(-45deg,#169ae2,#169ae2);
  animation: nl-Hero_Gradient 15s ease infinite;
  border: 0;
  border-radius: 0;
  min-width: 320px;
}

.header-inner-box {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.root-facebook-image {
  height: 20px;
  position: absolute;
  bottom: 8px;
  left: 17px;
}

.header-link-new-user {
  margin-right: 20px;
  padding: 8px;
  margin-top: -10px;
  border: solid 1.5px white;
  border-radius: 4px;
  font-size: 14px;
}

.header-logo {
  height: 28px;
  margin-top: 12px;
  margin-left: 25px;
}

.root-facebook-button {
  margin-left: 81px;
  background-color: white;
  color: #4d74bf;
  position: relative;
  width: 127px;

  &:hover {
    background-color: white;
  }
}

.root-facebook-letter {
  position: absolute;
  bottom: 0;
  left: 48px;
}

.navbar-default .navbar-nav > .open > a {
  background-color: #6dbde4;
}

.navbar-default .navbar-nav .open a:focus {
  background-color: #6dbde4;
}

.avatar-img {
  height: 39px;
  max-width: 70px;
  border-radius: 4px;
}

.edit-avatar-img {
  border-radius: 4px;
}

.avatar-dropdown {
  height: 42px;
  margin-top: 6px;
  margin-right: 10px;
  color: #21607d;

  &:hover {
    color: white;
    background-color: #169ae2;
  }
}

.header-link-list {
  display: flex;
  margin-top: 9px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.mdl-js-ripple-effect {
  a:hover {
    text-decoration: none;
  }
}

.img-hover-gray {
  margin-bottom: 28px;
}

.common-header {
  height: 50px;
}

.root-header-mask {
  opacity: 0.9;
  background-color: #169ae2;
  animation: bg-color 25s infinite;
  -webkit-animation: bg-color 25s infinite;
}

@-webkit-keyframes bg-color {
  0% { background-color: #169ae2; }
  50% { background-color: #1bbdd2; }
  100% { background-color: #169ae2; }
}
@keyframes bg-color {
  0% { background-color: #169ae2; }
  50% { background-color: #1bbdd2; }
  100% { background-color: #169ae2; }
}

.root-header-downer {
  margin-top: 27px;
}
.root-signup-box {
  width: 322px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
  border: none;
  float: right;
  margin-right: 20px;


  input {
    padding: 10px;
    border-radius: 4px;
  }

  .mdl-textfield__input {
    border-bottom: 1px solid white;
  }

  input::placeholder {
    color: white;
    opacity: 0.6;
  }
}
.root-header-downer-left-box {
  padding: 40px;
  width: calc(100% - 380px)
}

.root-header-downer-title {
  text-align: left;
  font-weight: bold!important;
  margin-bottom: 50px;
}

.learning-new-modal {
  cursor: pointer;
  display: inline-block;
}

.learning-new-modal-body {
  background-color: #1DA1F2;
  background: rgba(29,161,242,0.1);

  .modal-inner-box {
    padding: 10px;
    display: flex;
    min-width: 300px;
  }

  .learning-modal-text-area {
    border-radius: 8px;
    background-color: #364549;
    color: #e3e3e3;
    font-size:17px;
    padding: 12px 18px;
  }

  .learning-new-modal-img {
    margin-top: 100px;
  }

  .modal-angle-left {
    color: #c5c4c5;
    margin-top: 111px;
    margin-left: 7px;
  }
}

.modal-form-box {
  width: 100%;
  margin: 0 67px 20px 10px;
}

.header-study-time {
  margin-left: 32px;
  margin-top: 14px;
  margin-bottom: 10px;
  font-size: 14px;

  span {
    font-family: 'HigashiOme';
  }
}

#learning-images-preview {
  padding: 0 20px;
}

.public-checkbox {
  width: 80px;
  margin-top: 9px;
  margin-left: 32px;


  .public-letter {
    margin-left: 11px;
  }
}

.learning-search-form {
  position: relative;
  width: 200px;
  margin-top: 8px;
  margin-left: 30px;

  .fa-search {
    position: absolute;
    top: 9px;
    left: 9px;
    color: #aaa;
  }

  .learning-search-field {
    width: 100%;
    color: black;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: inset 0 1px 2px #ccc;
    padding-left: 32px;
    padding-right: 8px;
  }
}

.header-left-menu-button {
  margin: 14px 0 0 24px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  height: 20px;
}

.header-left-menu-caret {
  background-color: rgb(0, 107, 171);
  margin-right: 2px;
}

.learning-search-submit {
  cursor: pointer;
}

.header-notice-number-wrapper {
  margin-top: 8px;
}

.header-notice-number {
  padding: 8px 11px;
  margin-left: 12px;
  background-color: #ebf9ff;
  border-radius: 4px;
  color: #009be9;
  cursor: pointer;
}

.header-learning-new-modal {
  height: 20px;
  margin-top: 10px;
}

.notice-wrapper {
  font-size: 13px;
  width: 300px;
}

.notice-header {
  padding: 10px 16px 5px;
  color: #333;
}

.notice-footer {
  padding: 10px 16px 5px;
  height: 30px;
  text-align: center;
  height: 60px;

  a, a:hover {
    height: 60px;
    line-height: 41px;
    display: block;
    color: #333333;
  }
}

.not-pushed-notice-item {
  background-color:#bae7ff;
  &:hover {
    background: #a8e1ff78;
  }
}

.notice-item {
  padding: 8px 13px;
  display: flex;
  border-bottom: solid 1px #8cbcd6;

  &:hover {
    background: #a8e1ff78;
  }
}

.notice-item-avatar {
  height: 39px;
  width: 39px;
  border-radius: 4px;
}

.notice-sentence-wrapper {
  padding-left: 10px;
  padding-top: 5px
}

.notice-sentence {
  color: #333;
  line-height: 18px;
}

.notice-sentence-time {
  color: #999;
  margin-top: 5px;
}

.notice-list-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.header-login-ul {
  margin-top: 15px;
}

.header-login-link {
  margin-right: 18px;
}

.root-header-nav {
  .mdl-menu__item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }

  .header-left-menu-list {
    &:hover {
      a {
        background-color: #ecececd4;
      }
    }
    a:hover {
      background-color: #ecececd4;
    }
  }

  .header-left-menu-list-bell {
    padding-left: 14px;
  }

  .mdl-menu__item a {
    color:black;
    background-color: white;
  }

  .mdl-menu__item a:hover {
    color:black;
    background-color: #f5f5f5;
    text-decoration: none;
  }
}

.with-notice {
  background-color: #e14b22;
  color: white;
  border-radius: 4px;
}
