.learning-main {
  padding: 30px;
  position: relative;

  .user-name {
    line-height: 39px;
    color: black;
    margin-left: 10px;
    font-size: 18px;

    &:hover {
      color: #000000ba;
    }
  }

  .learning-created-at {
    margin-left: 12px;
    margin-top: 15px;
    font-size: 14px;
    color: #7b7b7b;
  }

  h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    font-feature-settings: "palt";
    line-height: 1.4;
  }

  .learning-tag-list {
    display: flex;
    margin-bottom: 30px;

    a {
      margin-right: 8px;
      align-items: center;
      background-color: #eee;
      color: #666;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 14px;
    }
  }
  .learning-img {
    margin-bottom: 20px;
    border: solid 1px #eee;
    max-width: 100%;
    width: 49.6%;
    border-radius: 10px;
  }

  .learning-main-header {
    display: flex;
  }

  .learning-main-header >:last-child {
    margin-left: auto;
  }

  .learning-description {
    margin-bottom: 30px;

    a {
      color: #6dbde4;
    }
    h1,h2,h3,h4,h5,h6 {
      text-align: left;
    }
    pre {
      padding-top: 15px;
      padding-left: 10px;
      margin: 20px 0px;
    }

    p {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

.review-sidebar {
  padding-top: 30px;

  h2 {
    text-align: center;
  }

  button {
    float: right;
  }
}
.review-modal {
  background-color: #4c8c4d;
  cursor: pointer;

  .review-modal-button {
    width: 79%;
    padding: 10px 10px 3px 56px;
    margin: 0;
  }
}

.learning-edit-modal {
  background: #cc4453;
  width: 77px;
  border-radius: 4px;

  &:hover {
    background: #cc4453;
  }
}

.review-sidebar {
  .review-avatar {
    width: auto;
    margin-top: 21px;
  }

  .review-modal-angle-left {
    color: #c5c4c5;
    margin-top: 32px;
    margin-left: 7px;
  }
}

.modal-title {
  font-family: 'HigashiOme';
}

.modal-form-button-box {
  margin-top: 17px;
}

.learning-image-icon {
  font-size: 28px;
}

.learning-image {
  height: 70px;
  margin: 0 1px 0 1px;
  border-radius: 4px;
}

.learning-upload-button {
  margin-left: 22px;
  cursor: pointer;
  margin-top: 6px;
}

.proficiency-level {
  margin-left: 33px;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'HigashiOme';
  position: relative;
}

.proficiency-level .proficiency-level-box {
  position:absolute;
  width: 256px;
  height: 34px;
  top: -43px;
  left: -11px;
  border-radius: 10px 10px 10px 10px;
  background-color: #2f3a40;
  display: none;
}
.proficiency-level .proficiency-level-box:after { /* 三角形を作成 */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 28px;
  left: 21px;
  border: 9px solid transparent;
  border-top: 10px solid #2f3a40;
  border-radius: 6px
}
.proficiency-level .proficiency-level-comment {
  font-size: 12px;
  position: absolute;
  top: 7px;
  left: 14px;
  color: white;
}
.proficiency-level:hover .proficiency-level-box {
  z-index: 2;
  display: block;
}

.mdl-slider__background-lower {
  background: rgb(0, 149, 232);
}

.modal-form-box .mdl-switch.is-checked .mdl-switch__thumb {
  background: #169ae2;
}

.modal-form-box .mdl-switch.is-checked .mdl-switch__track {
  background: #169ae2;
}

.divide-main {
  height: 30px;
  background-color: #f6f6f6;
  position: absolute;
  width: 150%;
  left: 0;
}

.comment-header-space {
  height: 50px;
}

.comment-wrapper {
  margin-top: 30px;
}

.each-comment-box {
  margin-top: 50px;
}

.comment-user-image {
  border-radius: 4px;
  max-width: 40px;
  max-height: 40px;
}

.comment-user-info {
  margin-left: 10px;
  line-height: 20px;
}

.comment-user-name {
  color: #337ab7;
  font-size: 15px;
  font-weight: bold;
}

.comment-user-learning-num {
  font-size: 13px;
  color: #6f6f6f;
}

.comment-user-leanring-unit {
  font-size: 11px;
  margin-left: 3px;
  color: #999;
}

.comment-time-box {
  margin-left: auto;
  line-height: 20px;
}

.comment-time {
  font-size: 13px;
  color: #7b7b7b;
}

.comment-contribution {
  color: #6f6f74;
  font-size: 15px;
  display: flex;
}

.comment-body {
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
}

.comment-body-inner {
  padding: 18px 32px;

  a {
    color: #6dbde4;
  }
  h1,h2,h3,h4,h5,h6 {
    text-align: left;
  }
  pre {
    padding-top: 15px;
    padding-left: 10px;
    margin: 20px 0px;
  }
}

.comment-body-inner:before, .comment-body-inner:after {
  bottom: 100%;
  left: 17px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.comment-body-inner:before {
  border-color: rgba(255,255,255,0);
  border-bottom-color: #d9d9d9;
  border-width: 7px;
  margin-left: -7px;
}

.comment-body-inner:after {
  border-color: rgba(255,255,255,0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.post-comment-info {
  display: inline-block;
  line-height: 41px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
  margin-left: 10px;
}

#new_comment::after{
  content: "";
  display: block;
  clear: both;
}

.post-comment-body, .post-comment-body:focus {
  min-height: 100px;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 100px;
  transition: background-color .1s linear;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px #eee;
  background-color: #fafafa;
  padding: 10px;
  color: #333;
  font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
  -webkit-font-smoothing: antialiased;
}

.learning-delete-button {
  padding-left: 22px;
  background: black;
  width: 77px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 39px;
  margin-bottom: 10px;
  margin-left: auto;

  &:hover {
    color: white;
  }
}

.post-comment-submit {
  margin-top: 4px;
  margin-bottom: -11px;
}

.comment-delete-button {
  color: #6f6f74;
  margin-left: 5px;
}

.comment-contribution-unit {
  margin-left: 1px;
  margin-right: 4px;
}

.comment-edit-modal-button {
  cursor: pointer;
}

.comment-modal-form-box {
  width: 95%;
  margin: 0 auto;
}

#comment-modal-dialog {
  margin-top: 300px;
}

.learning-like-wrapper {
  min-width: 85px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .2em;
  transition: background-color .1s ease-out,color .1s ease-out;
  line-height: 30px;
  padding-left: 6px;
}

.liked {
  background: #169ae2;
}

.learning-like-balloon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  padding: 0 10px;
  margin-left: 8px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 32px;
  color: #2f3a40;
}

.learning-like-balloon-link:hover {
  text-decoration: underline;
}

.learning-like-balloon:before {
  top: 30%;
  left: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid transparent;
  position: absolute;
  content: '';
}

.learning-like-balloon:after {
  top: 34%;
  left: -4px;
  border-top: 4px solid transparent;
  border-right: 4px solid #fff;
  border-bottom: 4px solid transparent;
  position: absolute;
  content: '';
}

.comment-like-balloon {
  font-size: 1em;
}

.comment-like-wrapper {
  height: 25px;
  padding-left: 9px;
  line-height: 24px;
}

.comment-like-balloon {
  height: 25px;
  line-height: 24px;
}

.user-list-like-icon {
  color: #ccc;
}

.user-list-username {
  font-size: 12px;
  margin-bottom:5px;
}
.user-list-learning-title {
  line-height: 1.3em;
}
.user-list-like-container {
  min-width: 52px;
  text-align: right;
}

.learning-trash-image, .edit-learning-trash-image {
  font-size: 29px;
  margin-left: 5px;
  display: none;
  cursor: pointer;
}

.header-proficiency-level-comment {
  font-size: 12px;
  position: absolute;
  top: 7px;
  left: 14px;
  color: white;
 }

.proficiency-level:hover .header-proficiency-level-box {
  z-index: 2;
  display: block;
}

.header-proficiency-level-box {
  position:absolute;
  width: 256px;
  height: 34px;
  top: -43px;
  left: -37px;
  border-radius: 10px 10px 10px 10px;
  background-color: #2f3a40;
  display: none;
}

.proficiency-level .header-proficiency-level-box:after { /* 三角形を作成 */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 28px;
  left: 64px;
  border: 9px solid transparent;
  border-top: 10px solid #2f3a40;
  border-radius: 6px
}

ul.tagit {
  background: white;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 16px;
  padding-left: 11px;

  li.tagit-choice {
    margin-top: 6px;
    background-color: #e8f5ff;
  }
}
