.learning-main {
  padding: 30px;
  position: relative;

  .user-name {
    line-height: 39px;
    color: black;
    margin-left: 10px;
    font-size: 18px;

    &:hover {
      color: #000000ba;
    }
  }

  .learning-created-at {
    margin-left: 12px;
    margin-top: 15px;
    font-size: 14px;
    color: #7b7b7b;
  }

  h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    font-feature-settings: "palt";
    line-height: 1.4;
  }

  .learning-tag-list {
    display: flex;
    margin-bottom: 30px;

    a {
      margin-right: 8px;
      align-items: center;
      background-color: #eee;
      color: #666;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 14px;
    }
  }
  .learning-img {
    margin-bottom: 20px;
    border: solid 1px #eee;
    max-width: 100%;
    border-radius: 10px;
  }

  .learning-main-header {
    display: flex;
  }

  .learning-main-header >:last-child {
    margin-left: auto;
  }

  .learning-description {
    margin-bottom: 30px;

    a {
      color: #6dbde4;
    }
    h1,h2,h3,h4,h5,h6 {
      text-align: left;
    }
    pre {
      padding-top: 15px;
      padding-left: 10px;
    }
  }
}

.review-sidebar {
  padding-top: 30px;

  h2 {
    text-align: center;
  }

  button {
    float: right;
  }
}
.review-modal {
  background-color: #4c8c4d;
  cursor: pointer;

  .review-modal-button {
    width: 79%;
    padding: 10px 10px 3px 56px;
    margin: 0;
  }
}

.learning-edit-modal {
  background: #cc4453;
  width: 77px;
  border-radius: 4px;

  &:hover {
    background: #cc4453;
  }
}

.review-sidebar {
  .review-avatar {
    width: auto;
    margin-top: 21px;
  }

  .review-modal-angle-left {
    color: #c5c4c5;
    margin-top: 32px;
    margin-left: 7px;
  }
}

.modal-title {
  font-family: 'HigashiOme';
}

.modal-form-button-box {
  margin-top: 17px;
}

.learning-image-icon {
  font-size: 28px;
}

.learning-image {
  height: 70px;
  margin: 0 1px 0 1px;
  border-radius: 4px;
}

.learning-upload-button {
  margin-left: 22px;
  cursor: pointer;
  margin-top: 6px;
}

.proficiency-level {
  margin-left: 33px;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'HigashiOme';
  position: relative;
}

.proficiency-level .proficiency-level-box {
  position:absolute;
  width: 220px;
  height: 34px;
  top: -43px;
  left: -11px;
  border-radius: 10px 10px 10px 10px;
  background-color: #2f3a40;
  display: none;
}
.proficiency-level .proficiency-level-box:after { /* 三角形を作成 */
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 28px;
  left: 21px;
  border: 9px solid transparent;
  border-top: 10px solid #2f3a40;
  border-radius: 6px
}
.proficiency-level .proficiency-level-comment {
  font-size: 12px;
  position: absolute;
  top: 7px;
  left: 14px;
  color: white;
}
.proficiency-level:hover .proficiency-level-box {
  z-index: 2;
  display: block;
}

.mdl-slider__background-lower {
  background: rgb(0, 149, 232);
}

.modal-form-box .mdl-switch.is-checked .mdl-switch__thumb {
  background: #169ae2;
}

.modal-form-box .mdl-switch.is-checked .mdl-switch__track {
  background: #169ae2;
}

.divide-main {
  height: 30px;
  background-color: #f6f6f6;
  position: absolute;
  width: 150%;
  left: 0;
}

.comment-header-space {
  height: 50px;
}

.comment-wrapper {
  margin-top: 30px;
}

.each-comment-box {
  height: 400px;
}

.comment-user-image {
  border-radius: 4px;
  max-width: 40px;
  max-height: 40px;
}

.comment-user-info {
  margin-left: 10px;
  line-height: 20px;
}

.comment-user-name {
  color: #337ab7;
  font-size: 15px;
  font-weight: bold;
}

.comment-user-learning-num {
  font-size: 13px;
  color: #6f6f6f;
}

.comment-user-leanring-unit {
  font-size: 11px;
  margin-left: 3px;
  color: #999;
}

.comment-time-box {
  margin-left: auto;
  line-height: 20px;
}

.comment-time {
  font-size: 13px;
  color: #7b7b7b;
}

.comment-contribution {
  color: #6f6f74;
  font-size: 15px;
}

.comment-body {
  padding: 18px 32px;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-top: 10px;
}
