@media screen and (max-width: 1325px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 857px) {
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0;
    display: inline-block;
  }

  .header-logo {
    height: 23px;
    margin-top: 14px;
    margin-left: 7px;
  }

  .avatar-dropdown {
    margin-right: 0;
    padding-right: 0;
  }

  // 迷っているが、一旦隠す仕様に。
  .root-signup-box {
    display: none;
  }

  .root-header-downer-left-box {
    width: 100%;
  }

  .root-header-nav {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-family: 'HigashiOme';
  }

  #main-container {
      margin-top: 0;
      margin-bottom: 10px;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
  }

  .main {
    min-width: 100%;
    float: none;
    padding-bottom: 10px;
  }

  .sidebar {
    min-width: 100%;
    float: none;
    margin-left: 0;

    img {
      margin-top: 10px;
      width: 94%;
      margin-left: 10px;
      margin-right: 10px;
    }

    .profile-stats-list {
      margin-left: 42px;
    }
  }

  .app-title {
    margin-left: 10px;
  }

  .signup-box {
    border: none;
  }

  .link-to-root {
    text-align: center;
    margin: 18px 0;

    img {
      height: 100px;
      display: inline-block;
      margin-right: 5px;
    }
  }

  .phone-header {
    display: block;
  }

  .mdl-textfield {
    padding: 10px 0;
  }
  .header-link-new-user {
    margin-right: 2px;
  }
  .root-signup-box {
    margin-top: -38px!important;
    float: none;
  }
  .root-header-nav {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/rootedlearning/uploads/default/phone-header.png),linear-gradient(-45deg,#169ae2,#169ae2);
  }
  .root-header-downer-title{
    text-align: center;
  }
  .root-facebook-button {
    margin-top:40px;
  }
  div#error {
    width: calc(100% - 40px)
  }

}
@media screen and (max-width: 359px) {
  .header-logo {
    height: 19px;
  }
  .avatar-img {
    max-width: 50px;
  }
  .avatar-dropdown {
    padding-left: 5px;
  }
}
