@media screen and (max-width: 1325px) {
  .left-item {
    margin-right: 0.7%;
  }
}

@media screen and (max-width: 1024px) {
  .left-item {
    margin-right: 0.5%;
  }
}

@media screen and (max-width: 857px) {
  .left-item {
    width: 100%;
  }

  .right-item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .left-item {
    width: 100%;
  }

  .right-item {
    width: 100%;
  }

  .navbar-nav {
    margin: 0;
    display: inline-block;
  }

  .header-logo {
    height: 23px;
    margin-top: 14px;
    margin-left: 7px;
  }

  .avatar-dropdown {
    margin-right: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-family: 'HigashiOme';
  }

  .main {
    min-width: 100%;
  }

  .app-title {
    margin-left: 10px;
  }

  .signup-box {
    border: none;
  }

  .link-to-root {
    text-align: center;
    margin: 18px 0;

    img {
      height: 100px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}