 #sidebarCollapse {
    width: 35px;
    height: 35px;
    background: #169ae2;
    border: none;
    margin-bottom: 5px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 3px auto;
    display: block;
    background: #f5f5f5;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

// .wrapper {
//     display: flex;
//     align-items: stretch;
//     perspective: 1500px;
// }

#sidebar {
    // min-width: 330px;
    // max-width: 330px;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -330px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}