.upload-box {
  position: relative;

  .upload-button {
    margin-left: 88px;
    cursor: pointer;
  }

  #avatar-preview img{
    width: 100px;
    margin-bottom: 10px;
  }

  input[type=file] {
    height: 0px;
    visibility: hidden;
    position: absolute;
  }
}

.edit-send-button {
  margin-left: 117px;
}
