.upload-box {
  position: relative;

  .upload-button {
    margin-left: 78px;
    cursor: pointer;
  }

  #avatar-preview img{
    width: 100px;
    margin-bottom: 10px;
    margin-left: 92px;
    position: relative;
  }

  input[type=file] {
    height: 0px;
    visibility: hidden;
    position: absolute;
  }
}

// .delete-button-container {
//   width: 15px;
//   height: 15px;
//   position: absolute;
//   top: 0;
// }

.delete-user-image-button {
  width: 40px;
  padding-right: 19px;
  height: 40px;
  font-size: 24px;
  padding-left: 3px;
  text-align: center;
  line-height: 9px;
  vertical-align: middle;
  color:grey;
  cursor: pointer;
  position: absolute;
}

.edit-send-button {
  margin-left: 117px;
}

.password-reset-button {
  margin-bottom: 23px;
  margin-left: 68px;
}

.user-new-button {
  margin-left: 110px;
}

.sidebar {
    float: right;
    width: 300px;
    margin-left: 10px;

    img {
      border-radius: 4px;
      width: 280px;
      margin-left: 10px;
    }
}

.side-user-name {
  font-size: 20px;
  text-align: center;
}

.side-user-image {
  max-height: 600px;
}

.profile-stats-list {
  display: inline-block;
  width: 67px;
  margin-left: 19px;
}

.profile-stats-list-follower {
  display: inline-block;
  width: 83px;
  margin-left: 19px;
}

.profile-stats-link {
  text-decoration:none;
  &:hover {
    text-decoration: underline;
  }
}

.profile-stats-span {
  line-height: 24px;
  color: #777;
  width: 70px;
}

.follow-btn {
  min-width: 88px;
}

.unfollow-btn {
  min-width: 102px;
}

.unfollow-now {
  display: none;
}

.follow-now {
  display: inline-block;
}

.unfollow-btn:hover {
  background: #cc4453!important;
}

.unfollow-btn:hover span:nth-child(1) {
  display: inline-block;
  min-width: 85px;
}

.unfollow-btn:hover span:nth-child(2) {
  display: none;
}

.user-new-or {
  text-align: center;
  color: #767676;
  margin-top:10px;
  margin-bottom:10px;
}

.user-learning-index {
  margin-top: 10px;
  padding: 10px;

  a {
    display: block;
    padding: 3px 10px;
    line-height: 1.4;
    color: #777;

    &:hover {
      color: #585454;
      background-color: #e4e4e4;
      text-decoration: underline;
    }
  }
}
#user_goal {
  background-color: #f5f5f5;
  font-size: 13px;
  border: none;
  bottom: -2px;
  left: -5px;
  height: 20px;
  width: 39px;
  position: absolute;
}

.goal-selector {
  margin-right: 31px;
  position: relative;
}

.user-list-page {
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 1100px;
  width: calc(100% - 50px);
  margin-right: auto;
  margin-left: auto;
}
.user-list-header {
  margin-bottom: 13px;
  background: #f3f6f1;
  border-bottom: solid 1px #e8eee4;
  border-top: solid 1px #e8eee4;
  padding: 1em;
  font-size: 14px;

  a, a:hover {
    color: #169ae2;
  }
}

.user-list-description {
  color: #999;
  font-size: 14px;
}

.user-list {
  .each-user-list {
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px #e4e0e0;
  }

  a, a:hover {
    color: #169ae2;
  }

  .user-list-avatar {
    max-width: 48px;
    max-height: 48px;
    border-radius: 4px;
  }

  .user-list-name {
    margin-left: 10px;
  }

  .follow_form {
    margin-left: auto;
  }
}

.recent-learning-header {
  margin-bottom:10px;
  color: #585454;
}

.introduction {
  color: #777;
  padding: 0 10px 0 19px;
  font-size: 15px;
  word-break: break-all;
}

.user-list-introduction {
  margin-left: 10px;

  p {
    line-height: 1.3em;
    word-break: break-all;
  }
}

code {
  background-color: #eee;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.markdown{
  a {
    color: #6dbde4;
  }
  h1,h2,h3,h4,h5,h6 {
    text-align: left;
  }
  pre {
    padding: 12px 18px 0 12px;
    margin: 20px 0px;
    background-color: #364549;
    color: #e3e3e3;

    code {
      background-color: #364549;
      color: white;
    }
  }

  span.c{
    color: #a9a69c;
    line-height: 1.3em;
  }

  span.c1{
    color: #a9a69c;
    line-height: 1.3em;
  }

  p {
    word-wrap: break-word;
    white-space: normal;
  }

  h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.today-reviews-list-wrapper {
  margin-bottom: 20px;
}
