.upload-box {
  position: relative;

  .upload-button {
    height: 77px;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-top: 27px;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  #avatar-preview img{
    width: 100px;
    margin-bottom: 10px;
  }

  input[type=file] {
    height: 0px;
    visibility: hidden;
    position: absolute;
  }
}
