@font-face {
  font-family: 'smartfont';
  src: font-url('smartfont.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'material';
@import "reset";
@import "animate";
@import "user";
@import "common";
@import "session";
@import "header";
@import "top";
@import "phone";
