@font-face {
  font-family: 'HigashiOme';
  src: font-url('HigashiOme-Gothic-1.3i.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'material';
@import "reset";
@import "animate";
@import "learning";
@import "error";
@import "user";
@import "common";
@import "session";
@import "header";
@import "top";
@import "phone";
